<style>
#part_one {
  width: 100%;
}

#part_one th, td {
  border-style: solid;
  border-width: 1px;
  padding-left: 5px;
}

#person_details {
  width: 100%;
}

.text-boxes {
  width: 99%;
}

.field_num {
  width: 25px !important;
}

.radio_btn_container {
  text-align: center;
}

.primary_btns {
  float: right;
  margin-right: 10px;
  width: 150px;
}

.required {
  color: red;
  font-weight: bold;
}

</style>


<div class="col-lg-12">
  <section class="panel">
    <header class="panel-heading">Section one (deceased demographics)</header>
    <div class="panel-body">
    
   

      <table id="part_one">
        <tr>
          <th>Part 1</th><th class="field_num">1</th>
          <th><span class="required">*</span>Surname</th><td><input class="text-boxes" type='text' name='last_name' id='last_name' /></td>
          <th><span class="required">*</span>First name</th><td><input class="text-boxes" type='text' name='first_name' id='first_name' /></td>
          <th>Other names</th><td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
        </tr>
        <tr>
          <th>Personal <br />details of<br />Deceased</th>
          <td colspan='7'>
          

            <table id="person_details">
              <tr>
                <th class="field_num">2</th>
                <th>ID No.</th><td><input class="text-boxes" type='text' name='id_number' id='id_number' /></td>
                <th class="field_num">3</th><th><span class="required">*</span>Nationality</th>
                <td>
                  <select name='nationality' id='nationality'>
                    <option>&nbsp;</option>
                    <%(@nationalities || []).each do |n|%>
                      <option value="<%=n.id%>"><%=n.nationality%></option>
                    <%end%>
                  </select>
                </td>
                <th class="field_num">4</th><th><span class="required">*</span>Sex:</th>
                <td>
                  <select name='gender' id='gender' onchange="checkGender(this);">
                    <option>&nbsp;</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="field_num">5</th><th><span class="required">*</span>Date of birth:</th>
                <td>
                  <input  onkeypress="return false;" class="text-boxes" 
                  type='text' id="dob" name="dob" data-date-format="dd/mm//yyyy" />
                </td>
                <!--td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                    <option value="estimate_yes">Yes</option>
                    <option value="estimate_no">No</option>
                  </select>
                </td-->
                <th class="field_num">6</th><th colspan="4">Birth Certificate No.</th>
              </tr>
              <tr>
                <th class="field_num">7</th><th><span class="required">*</span>Date of death:</th>
                <td>
                  <input  onkeypress="return false;" class="text-boxes" 
                  type='text' id="dod" name="dod" data-date-format="dd/mm//yyyy" />
                </td>
                <td>&nbsp;</td>
                <td colspan="6"><input class="text-boxes" type='text' name='birth_certificate_num' id='birth_certificate_num' /></td>
              </tr>
              <tr>
                <th class="field_num">8</th>
                <td colspan="8"><span class="required">*</span>Place of death (Tick the appropriate option)</td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td class="radio_btn_container"><input type="radio" id="facility"
                  name="place_of_death" onchange="enablePlaceOfDeath(this)"/></td>
                <th>Health facility</td>
                <td colspan="6">
                  <select name='death_facility' id='death_facility' disabled>
                    <option>&nbsp;</option>
                    <%(@health_facilities || []).each do |h|%>
                      <option value="<%=h.id%>"><%=h.name%></option>
                    <%end%>
                  </select>
                </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td class="radio_btn_container"><input type="radio" name="place_of_death" id='home'
                    onchange="enablePlaceOfDeath(this)"/></td>
                <th>Home</td>
                <th>District:</th>
                <td>
                  <select name='death_district' id='death_district' onchange="fetchTAs();" disabled>
                    <option>&nbsp;</option>
                    <%(@districts || []).each do |d|%>
                      <option value="<%=d.id%>"><%=d.name%></option>
                    <%end%>
                  </select>
                </td>
                <th>TA:</th>
                <td>
                  <select name='death_tas' id='death_tas' onchange="fetchVillages();" disabled>
                    <option>&nbsp;</option>
                  </select>
                </td>
                <th>Village:</th>
                <td>
                  <select name='death_villages' id='death_villages' disabled>
                    <option>&nbsp;</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>&nbsp;</th>
                <td class="radio_btn_container"><input type="radio" name="place_of_death" id="other" 
                  onchange="enablePlaceOfDeath(this)"/></td>
                <th>Other (Give details)</td>
                <td colspan="6">
                  <input class="text-boxes" type='text' name='place_of_death_text' id='place_of_death_text' disabled />
                </td>
              </tr>
              <tr>
                <th class="field_num">9</th>
                <th colspan="2"><span class="required">*</span>Physical residential address:</td>
                <th>District:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
                <th>TA:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
                <th>Village:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="field_num">10</th>
                <th colspan="2">Home address:</td>
                <th>District:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
                <th>TA:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
                <th>Village:</th>
                <td>
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="field_num">11</th>
                <td colspan="7">In case this is a Female death, did the death occur 
                  while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?
                </td>
                <td>
                  <select name='pregnant' id='pregnant' disabled>
                    <option>&nbsp;</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </td>
              </tr>
            </table>

          
          </td>
        </tr>
        

        <tr>
          <th>Part 2<br />Details of<br />Parents</th>
          <td colspan="7">
            <table id="person_details">
              <tr>
                <th class="field_num">1</th>
                <th>Mother's surname</th><td><input class="text-boxes" type='text' name='last_name' id='last_name' /></td>
                <th>First name</th><td><input class="text-boxes" type='text' name='first_name' id='first_name' /></td>
                <th>Other names</th><td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
                <th class="field_num">2</th>
                <th>ID No.</th>
                <td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
              </tr>
              <tr>
                <th class="field_num">3</th>
                <th>Father's surname</th><td><input class="text-boxes" type='text' name='last_name' id='last_name' /></td>
                <th>First name</th><td><input class="text-boxes" type='text' name='first_name' id='first_name' /></td>
                <th>Other names</th><td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
                <th class="field_num">4</th>
                <th>ID No.</th>
                <td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <th>Part 3<br />Informant's<br />Details</th>
          <td colspan="7">
            <table id="person_details">
              <tr>
                <th class="field_num">1</th>
                <th><span class="required">*</span>
                Name:&nbsp;surname</th><td><input class="text-boxes" type='text' name='last_name' id='last_name' /></td>
                <th><span class="required">*</span>
                First name</th><td><input class="text-boxes" type='text' name='first_name' id='first_name' /></td>
                <th>Other names</th><td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
                <th class="field_num">2</th>
                <th>ID No.</th>
                <td><input class="text-boxes" type='text' name='middle_name' id='middle_name' /></td>
              </tr>
              <tr>
                <th class="field_num">3</th>
                <th><span class="required">*</span>Relationship to the deceased</th>
                <td colspan="8">
                  <select name='etimate_dob' id='etimate_dob'>
                    <option>&nbsp;</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="field_num">4</th>
                <td colspan="9">
                 
                   <table id="person_details">
                      <tr>
                        <th>District:</th>
                        <td>
                          <select name='etimate_dob' id='etimate_dob'>
                            <option>&nbsp;</option>
                          </select>
                        </td>
                        <th>TA:</th>
                        <td>
                          <select name='etimate_dob' id='etimate_dob'>
                            <option>&nbsp;</option>
                          </select>
                        </td>
                        <th>Village:</th>
                        <td>
                          <select name='etimate_dob' id='etimate_dob'>
                            <option>&nbsp;</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th><span class="required">*</span>Postal address</th>
                        <td colspan="3"><input class="text-boxes" type='text' name='postal_add' id='postal_add' /></td>
                        <th><span class="required">*</span>Telphone number</th>
                        <td><input class="text-boxes" type='text' name='tel_phone_num' id='tel_phone_num' /></td>
                      </tr>
                   </table>
                      
                </td>
              </tr>
              <tr>
                <th class="field_num">5</th>
                <th colspan="9">
                  <table id="person_details">
                    <tr>
                      <td colspan="4">
                        I certify that the above information is correct and I am aware 
                        that I could face criminal prosecution if this information is 
                        incorrect in material respct
                      </td>
                    </tr>
                    <tr>
                      <th><span class="required">*</span>Date:</th>
                      <td>
                        <input  onkeypress="return false;" class="text-boxes" 
                        type='text' id="signature_date" name="signature_date" data-date-format="dd/mm//yyyy" />
                      </td>
                      <th><span class="required">*</span>Signature/Thump mark of Informant:</th>
                      <td>
                        <select name='etimate_dob' id='etimate_dob'>
                          <option>&nbsp;</option>
                          <option value="available">Available</option>
                          <option value="Not available">Not vailable</option>
                        </select>
                      </td>
                    </tr>
                  </table>
                </th>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>

        <tr>
          <td colspan="6">&nbsp;</td>
          <td><button class="primary_btns btn btn-danger">Cancel</button></td>
          <td><button class="primary_btns btn btn-primary">Register</button></td>
        </tr>
      </table>



   </div> 
  </section>
</div>


<script>


function enablePlaceOfDeath(e) {
  if(e.id == 'facility'){
    document.getElementById('death_facility').removeAttribute("disabled")
    document.getElementById('place_of_death_text').setAttribute('disabled','disabled');
    document.getElementById('death_district').setAttribute('disabled','disabled');
    document.getElementById('death_tas').setAttribute('disabled','disabled');
    document.getElementById('death_villages').setAttribute('disabled','disabled');
  }else if(e.id == 'home'){
    document.getElementById('place_of_death_text').setAttribute('disabled','disabled');
    document.getElementById('death_facility').setAttribute("disabled","disabled")
    document.getElementById('death_district').removeAttribute('disabled','disabled');
    document.getElementById('death_tas').removeAttribute('disabled','disabled');
    document.getElementById('death_villages').removeAttribute('disabled','disabled');
  }else if(e.id == 'other'){
    document.getElementById('place_of_death_text').removeAttribute('disabled');
    document.getElementById('death_facility').setAttribute("disabled","disabled")
    document.getElementById('death_district').setAttribute('disabled','disabled');
    document.getElementById('death_tas').setAttribute('disabled','disabled');
    document.getElementById('death_villages').setAttribute('disabled','disabled');
  }
}

function activeDate() {
  $(function() {
    $( "#dob" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#dod" ).datepicker({ dateFormat: 'dd/mm/yy' });
    $( "#signature_date" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
}

function fetchTAs() {
  district_id = document.getElementById('death_district').value;
  if (district_id.length < 1)
    return;

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;                                     
      if(results == 'undefined' || results == '' || results == '"not validate"') {                           
        return;                                                               
      }else{            
        e = document.getElementById('death_tas');
        removeOptions(e);                                                      
        addOptions(e, results);                                                           
      }                                                                       
    }                                                                         
  }                                                                           
  xmlhttp.open("GET","/fetch_data/district/" + district_id, true);           
  xmlhttp.send();
}

function fetchVillages() {
  ta_id = document.getElementById('death_tas').value;
  if (ta_id.length < 1)
    return;

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;                                     
      if(results == 'undefined' || results == '' || results == '"not validate"') {                           
        return;                                                               
      }else{            
        e = document.getElementById('death_villages');
        removeOptions(e);                                                      
        addOptions(e, results);                                                           
      }                                                                       
    }                                                                         
  }                                                                           
  xmlhttp.open("GET","/fetch_data/villages/" + ta_id, true);           
  xmlhttp.send();
}

function addOptions(e, data) {
  data = JSON.parse(data);
  counter = 0;
  op = document.createElement('option');
  e.appendChild(op);

  for (var i = 0; i < data.length; i++) {
    op = document.createElement('option');
    op.setAttribute('value',data[i]['id']);
    op.innerHTML = data[i]['name'];
    e.appendChild(op);
  }

}

function removeOptions(selectbox) {
  var i;
  for(i = selectbox.options.length - 1 ; i >= 0 ; i--) {
    selectbox.remove(i);
  }
}

function checkGender(e) {
  if(e.value == 'Female') {
    document.getElementById('pregnant').removeAttribute('disabled');
  }else{
    document.getElementById('pregnant').setAttribute('disabled','disabled');
  }
}

activeDate();

</script>
